@import "variables";

.menu {
  width: $menu-width;
  background: #f3f3f3;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 10;
}

.menu-content {
  width: $menu-width;
  position: sticky;
  top: 0;
}

.menu ul {
  display: flex;
  flex-direction: column;
}

.menu ul > li {
  width: 100%;
  padding: 15px 5px;
  font-size: 0.7rem;
  box-sizing: border-box;
}

.menu a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}

.menu li:target {
  color: blue;
}

.menu i {
  display: block;
}

@media screen and (max-width: 768px) {
  .menu {
    width: 100%;
  }

  .menu-content {
    width: 100% !important;
  }

  .menu ul {
    flex-direction: row;
  }
}