@import "spaces";

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-grow {
  flex-grow: 1;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.font-weight-bold {
  font-weight: bold;
}

.font-size-tiny {
  font-size: 0.7rem;
}

.line-height-1-5 {
  line-height: 1.5;
}

.text-uppercase {
  text-transform: uppercase;
}

.section-gray {
  background: #e6e9e9;
}

.justify-content-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.link-unstyled {
  text-decoration: none;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
